<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>

			
			<div class="animated undefined visible" style="max-width:800px; margin-left: auto; margin-right: auto; margin-top: 50px; font-size: 17px; text-align:left">

            <!--<p>Globalisation has allowed an increasing number of researchers to move across borders, but most policy decisions are still taken by governments at the national and local level. SPP-Italy aims at bridging this gap: how can emigrated scientists contribute to and participate in the public life of their country of origin? How can scientific knowledge be disseminated across borders, while also ensuring its trustworthiness and acceptability by society at large?
            <p></p>-->

            <p>
            SPP Italy 2019 is a one-day conference exploring the relationship between science, policy and the public in Italy. In the globalised world we live in, it has never been easier for researchers to move across borders. Science and technological innovation are seen by many as an international enterprise. However, most policy decisions are still taken by governments at the national and local level. SPP Italy will give researchers working in the UK the opportunity to engage with policymakers and science communicators from Italy and to reflect on the way science can support good policy decisions.
            <p></p>

            <p>The discussion will focus on important policy issues from 3 areas of science and technology:</p>  
            <p></p> 
            </div>

            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>

            <div class="animated undefined visible" style="max-width:800px; margin-left: auto; margin-right: auto; margin-top: 50px; font-size: 17px; text-align:left"><p>The conference will invite Italian researchers, as well as other researchers with an interest in Italian affairs, to meet with policymakers and science communicators from Italy. Young researchers (PhD and Postdoc level) will be given the chance to engage in science policy by presenting research evidence in their field of expertise. 
            </p>
            
            <!--<p>The symposium will also be an opportunity for young researchers with an interest in these themes to present their work to a wider audience. We hope this will prompt young, talented scientists to explore the impact their own research can have on society and the contribution it can make to political debates and decisions.</p>-->

            <p>Participants will enjoy an exciting programme of activities including: 
            </p>
            <p></p> 
            </div>

            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock2 %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
            </div>
    </div>
</section>
<!-- End About Section -->
