<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
			
			<div class="animated undefined visible" style="max-width:800px; margin-left: auto; margin-right: auto; margin-top: 50px; font-size: 17px; text-align:left"> <p><b style="font-size: 17px;">Das Heidelberger Symposium …</b> </p><ul> <li>ist interdisziplinärer Austausch über das eigene Studium hinaus.</li> <li>bietet Euch drei großartige Tage voller spannender Vorträge, renommierter Referenten, kontroversen Diskussionen und Kolloquien zu gesellschaftlich relevanten Themen.</li> <li>versorgt Euch mit Speisen und Getränken.</li> <li>garantiert ein abwechslungsreiches Rahmenprogramm mit coolen Workshops, Abendveranstaltungen und einer Abschlussparty.</li> <li>ist eine 100% studentische, ehrenamtliche und unabhängige Organisation.</li> <li>macht einen festen Bestandteil des akademischen Lebens der Stadt Heidelberg aus, den man sich nicht entgehen lassen sollte.</li> </ul><p></p> </div>
        </div>
    </div>
</section>
<!-- End About Section -->
